body {
    background-color: #ebebeb;
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 10px;
    font-size: 90%;
}

.nav {
    background: #080a2e;
}

.user-cover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-right: 1%;
}

.brand {
    font-size: 150%;
    margin: 0px;
    left: 0;
}

.user-cover .fa-user-circle,
.user-cover .fa-bell,
.user-cover .fa-plus-circle {
    font-size: 150%;
}

.user-cover .fa-bell,
.user-cover .fa-user-circle {
    font-weight: normal;
}

.user-cover span {
    font-size: 100%;
}

/* .nav-link{
    color: white !important;
} */

.low-nav {
    /* background: #1b1b46; */
    display: flex;
    justify-content: space-evenly;
}


/* .form-control {
    height: 45px;
    display: none !important;
} */

.accent {
    background: #080a2e;
}


.instant-match-con,
.tournament-box {
    width: 50%;
}

.instant-match-con li {
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.instant-list-head,
.tournament-list-head {
    background: #080a2e;
    color: white;
    border-radius: 0px !important;
}

.instant-match-badge {
    width: 15%;
    border: 1px solid #080a2e;
    border-radius: 0px;
}

.instant-match-con .fa-gamepad {
    font-size: 150%;
}

.tournament-box {
    width: 50%;
}



.large-ad {
    background: #080a2e !important;

}

.chat-body {
    height: 55vh;
    overflow-y: auto;
}

.chat-body .fa-user-circle {
    font-size: 100%;
}